<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%= t('screen.new',name: get_tablename_by_model(@user) ) %></h1>
<% end %>
<!--↑タイトル表示枠-->

<%= render 'new', user: @user %>
