// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.ui-datepicker-trigger{
  cursor: pointer;
  margin-left: 7px!important;
  vertical-align: middle;
}


// 検索条件について
// ↓
.search_box{
  // display: flex;
  // flex-direction: column;
  border-style: solid;
}
.search_box_title{
  margin-top: 6px;
  margin-bottom: -2px;
  font-weight: bold;
}

.search_box_line{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items :center;
}

.search_box_cell{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items :center;
}
.search_cell_1_1{
  flex-basis: 100%;
}
.search_cell_1_2{
  flex-basis: 50%;
}
.search_cell_2_2{
  flex-basis: 50%;
}

.search_label{
  margin-bottom: 0;
  margin-left: 10px;
  width: 60px;
  font-weight: bold;
  text-decoration:underline;
}
.search_chkbox{
  margin-left: 2px;
}
.search_note{
  margin-left: 2px;
  margin-right: 26px;

}

.search_box_line{
  position: relative;
}

#tasks_created_at_desc{
  position: absolute;
  right:40px;
  height: 30px;
  width: 80px;
}

// ↑
// 検索条件について

div.yyyy_mm_dd{
  width: 160px;
}


// 検索結果について
// ↓

.table_box{
  width: 100%;
  border-style: double;
  display: flex;
  flex-direction: column;
}
.table_title_content{
  border-style: double;
  background-color: #FFFFE0;
}

.table_title_row{
  display: flex;
  flex-direction: row;
}
.table_row{
  border-style: solid;
  border-width: 1.2px;
  display: flex;
}

.table_content{
  border-style: ridge;
  border-width: 0.8px;
  border-color: black;
  min-width: 0;
  background-color: #FFFFFF;
}

.table_content_userinfo{
  flex-basis: 10%;
  word-break: break-all;
}
.table_content_name{
  flex-basis: 12%;
  word-break: break-all;
}
.table_content_content{
  flex-basis: 18%;
  word-break: break-all;
}
.table_content_limit{
  flex-basis: 10%;
  word-break: break-all;
  flex-shrink: 0;
}
td.table_content_limit{
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}
.table_content_priority{
  flex-basis: 10%;
}
td.table_content_priority{
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}
.table_content_tag_count{
  flex-basis: 12%;
}
td.table_content_tag_count{
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}
.table_content_status{
  flex-basis: 25%;
}
td.table_content_status{
  display: flex;
  justify-content: space-around;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}
.table_content_btn{
  flex-basis: 5%;
}
td.table_content_btn{
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

.btn_sort{
  width: 24px;
  padding: 0,0;
  font-size: 80%;
  text-align: center;
}

tr{
  font-size: 90%;
}

.table_title_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  text-decoration:underline;
}


// ↑
// 検索結果について


// 入力画面について
// ↓
.input_text_name{
  width: 320px;
}
.input_text_content{
  width: 320px;
  height: 80px;
}

.input_radio_btn_line{
  position: absolute;
  left:166px;
  margin-top: 10px;
}
.input_radio_btn{
  margin-right: 30px;
}

// 入力画面について
// ↑
