<!--↓エラーメッセージ表示枠-->

<% if model_info.errors.any? %>
  <div id="error_explanation">
    <h2 class="err_msg"><%= t('errors.template.header.other',model:  get_tablename_by_model(model_info) , count: model_info.errors.count.to_s ) %> </h2>

    <% model_info.errors.full_messages.each do |message| %>
      <li class="err_msg"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
